@tailwind base;

/* Write your own custom base styles here */
* {
  font-family: 'Raleway', sans-serif;
  outline: none !important;
}

body {
  background-color: rgb(15, 15, 15);
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
body {
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

/* Underlined animation */
.linker {
  display: flex;
  position: relative;
}

.linker:after {
  bottom: -45px;
  content: '';
  height: 2px;
  right: 0;
  left: auto;
  position: absolute;
  background: currentColor;
  transition: all 0.7s;
  width: 0;
  color: #7d2d88;
}

.linker:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

/* ESTILO VEM AQUI */
.bg-color {
  background-color: rgb(15, 15, 15);
}

.main-dropdown {
  max-height: 0;
  transition: all 0.2s ease-in-out;
}

.main-dropdown.main-dropdown-open {
  max-height: 400px;
}

.page-closed {
  position: relative;
  animation: opacitychange2 1.3s forwards;

  height: 0;
  z-index: 20;
}

.page-opened {
  position: relative;
  animation: opacitychange 1.3s;

  height: auto;
  z-index: 30;
}

.slick-slide img.desktop {
  display: none !important;
}

.slick-slide img.mobile {
  display: flex !important;
}

@media (min-width: 768px) {
  .slick-slide img.desktop {
    display: flex !important;
  }

  .slick-slide img.mobile {
    display: none !important;
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
