@tailwind base;

/* Write your own custom base styles here */
* {
  font-family: 'Raleway', sans-serif;
  outline: none !important;
}

.fab {
  display: flex !important;
}

body {
  background-color: rgb(15, 15, 15);
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Underlined animation */
.linker {
  display: flex;
  position: relative;
}

.linker:after {
  bottom: -45px;
  content: '';
  height: 2px;
  right: 0;
  left: auto;
  position: absolute;
  background: currentColor;
  transition: all 0.7s;
  width: 0;
  color: #7d2d88;
}

.linker:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

/* ESTILO VEM AQUI */
.bg-color {
  background-color: rgb(15, 15, 15);
}

.main-dropdown {
  max-height: 0;
  transition: all 0.2s ease-in-out;
}

.main-dropdown.main-dropdown-open {
  max-height: 400px;
}

.transition-screen {
  animation: mymove2 1.3s;
  left: -100%;
}

.transition-screen.active {
  animation: mymove 1.3s;
  left: 100%;
}

.page-closed {
  position: relative;
  animation: opacitychange2 1.3s forwards;

  height: 0;
  z-index: 20;
}

.page-opened {
  position: relative;
  animation: opacitychange 1.3s;

  height: auto;
  z-index: 30;
}

@keyframes opacitychange2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes opacitychange {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mymove {
  0% {
    left: -100%;
  }
  25% {
    left: 0%;
  }
  50% {
    left: 0%;
  }
  75% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes mymove2 {
  0% {
    left: 100%;
  }
  25% {
    left: 0%;
  }
  50% {
    left: 0%;
  }
  75% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

.slick-slide img.desktop {
  display: none !important;
}

.slick-slide img.mobile {
  display: flex !important;
}

@media (min-width: 768px) {
  .slick-slide img.desktop {
    display: flex !important;
  }

  .slick-slide img.mobile {
    display: none !important;
  }
}

/* Slider arrows */

.slick-prev::before,
.slick-next:before {
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900 !important;
  color: white !important;
}

.slick-prev::before {
  content: '\f053' !important;
}

.slick-next:before {
  content: '\f054' !important;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
